@typeparam TItem
<MudPaper class="d-flex flex-grow-1 gap-1 mud-ripple" Elevation="1"   @onclick="() => OnItemClick.InvokeAsync(Item)">
    <MudPaper Class="flex-none d-flex" Height="64px" Width="40px" Elevation="0">
        <MudIcon Class="item-icon" Icon="@Icons.Material.Filled.Payment" Size="Size.Large" />
    </MudPaper>
    <MudPaper Class="d-flex flex-wrap flex-grow-1 gap-4" Height="64px" MinWidth="120px" Elevation="0">
        <div style="display: flex; flex-direction: column;">
            <p class="item-title">@ItemTitle</p>
            <p class="item-label">@ItemLabel</p>
        </div>
    </MudPaper>

    <MudPaper Class="flex-none d-flex flex-auto" Height="64px" MinWidth="120px" Elevation="0">
        <div style="width:100%; display: flex; flex-direction: column; align-items: flex-end; justify-content: flex-start; ">
            <p class="info-title" style="color:@infoTitleColor">@infoTitle</p>
            <p class="info-label">@infoLabel</p>
        </div>
    </MudPaper>
</MudPaper>


@code {
    [Parameter] public string Icon { get; set; } = string.Empty;
    [Parameter] public string ItemTitle { get; set; } = string.Empty;
    [Parameter] public string ItemLabel { get; set; } = string.Empty;
    [Parameter] public string infoTitle { get; set; } = string.Empty;
    [Parameter] public string infoTitleColor { get; set; } = string.Empty;
    [Parameter] public string infoLabel { get; set; } = string.Empty;
    [Parameter] public TItem Item { get; set; }
    [Parameter] public EventCallback<TItem> OnItemClick { get; set; }
   
}